:root {
    --color1: #4640BE;
    --color2: #fff;
    --color3: #FFC656;
    --color4: #DBD9FF;
}

body {
    font-family: 'Poppins', sans-serif;
}

*,
*:before,
*:after
{
	box-sizing: border-box;
    margin: 0;
    padding: 0;
}


div, p, input, button, form, span, a, ul, li {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.intro__header {
    padding: 20px 0;
}

.intro {
    height: 100vh;
    background: url(../img/intro/bg.jpg) no-repeat center center fixed;
    background-size: cover;
}

.intro__overlay {
    background: rgba(13, 0, 255, 0.6);
    width: 100%;
    height: 100%;
}

.nav-link{
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    transition: all ease .2s;
}

.nav-link:hover {
    color: rgb(111, 181, 247);
}

.btn {
    transition: all ease .6s;
}

.navbar-nav {
    margin-left: 400px;
}

.photo {
    width: 70px;
    height: 70px;
}

.my-btn-main {
    width: 150px;
    display: inline-block;
    transition: all ease .8s;
}

.my-btn-main a {
    text-decoration: none;
    color: #fff;
}

.my-btn-main:hover a{
    color: #000;
}

.my-btn {
    width: 150px;
    display: inline-block;
}

.my-row {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 660px;
}

.head__title {
    font-weight: 600;
    font-size: 48px;
    color: var(--color2);
}

.head__title span {
    color: var(--color3);
}

.section--gray {
    background-color: var(--color4);
}

.items {
    display: flex;
    justify-content: space-between;
}

.item {
    width: 350px;
    height: 400px;
    background-color: #fff;
    padding: 40px;
    margin: 80px 0;
    border-radius: 40px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
}

.ellipse {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: var(--color1);
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.benefits__title {
    font-weight: 600;
    font-size: 16px;
    margin: 0 auto;
    margin-top: 30px;
}

.benefits__subtitle {
    font-weight: 400;
    font-size: 14px;
    color: #666;
    text-align: center;
    margin: 15px auto;
}

.benefits__link {
    color: var(--color1);
    margin: 0 auto;
}

.about__inner {
    display: grid;
    grid-template-columns: 50% 50%;
}

.about_text_first {
    margin: 0 auto;
    max-width: 380px;
}   


.about__subtitle {
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: var(--color1);
}

.about__title {
    font-weight: 600;
    font-size: 32px;
    line-height: 42px;
}

.about__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.about__number {
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
}

.about__info {
    color: var(--color1);
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}

.about__mt {
    margin-top: 30px;
}

.reviews {
    background-color: var(--color1);
    padding: 80px 0;
}

.reviews__header {
    text-align: center;
}

.reviews__subtitle {
    color: var(--color3);
}

.reviews__title {
    color: var(--color2);
}

.reviews__inner {
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
}

.reviews__item {
    background-color: var(--color2);
    width: 400px;
    height: 250px;
    border-radius: 40px;
    padding: 40px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
}

.reviews__photo {
    display: flex;
    margin-top: 24px;
    margin-right: 12px;
}

.reviews__author {
    margin-top: 35px;
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    color: var(--color1);
}

.reviews__job {
    font-weight: 300;
    font-size: 10px;
    line-height: 10px;
}

.wrapper {
    display: flex;
    justify-content: center;
}

.port__subtitle {
    color: var(--color1);
}

.port__title {
    color: #000;
}

.portfolio {
    margin: 80px auto;
}

.port__inner {
    display: flex;
    justify-content: space-between;
    margin-top: 33px;
    text-align: center;
}

.port__card-title{
    margin-top: 15px;
    font-weight: 600;
    font-size: 20px;
    line-height: 15px;
}

 .port__card-subtitle{
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    color: var(--color1);
}

.my-btn-port {
    margin: 0 auto;
    display: flex;
    width: 200px;
    justify-content: center;
    margin-top: 30px;
    box-shadow: 5px 5px 20px rgba(81, 107, 255, 0.7);
    background-color: var(--color1);
}

.my-btn-port a {
    text-decoration: none;
    color: #fff;
}

.help {
    background-color: var(--color1);
}

.help__item {
    align-items: center;
    margin: auto 0;
}

.help__subtitle {
    color: var(--color3);
    font-weight: 690;
    font-size: 14px;
    line-height: 24px;
}

.help__title {
    color: var(--color2);
    font-weight: 600;
    font-size: 32px;
    line-height: 42px;
}

.help__photo {
    margin: 80px 0;
}

.overlay {
    height: 40vh;
    width: 100%;
    background-color: var(--color1);
}

.accordion {
    width: 450px;
    border-radius: 200px;
}

.tog__wrapper {
    display: flex;
}

.together {
    width: 100%;
    height: 100%;
    border-radius: 100px;
    background-color: #D9D9D9;
    position: relative;
    top: -300px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.together__title {
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
}

.photo__wrapper {
    display: flex;
}

.together__photo {
    justify-content: right;
}

.together-btn {
    width: 200px;
    height: 40px;
}

.footer--gray {
    background-color: #333;
}

.footer {
    position: relative;
    top: -120px;
}

.footer__logo {
    width: 100px;;
}





@media screen and (max-width: 992px) { 
    .my-btn {
        margin-top: 10px;
        width: 300px;
        display: inline-block;
    }

    .items {
        justify-content: center;
        flex-direction: column;
    }

    .item {
        margin: 10px auto;
        flex-direction: column;
        width: 300px;
    }


    .about_text_first {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .about__subtitle {
        font-size: 12px;
    }

    .about__title {
        font-size: 26px;
    }

    .about__text {
        font-size: 12px;
    }

    .about__number {
        font-size: 25px;
        line-height: 30px;
        width: 100px;
    }

    .about__info {
        font-size: 15px;
        width: 100px;
    }

    .about__mt {
        margin-top: 10px;
    }
    
    .about__item {
        width: 250px;
        margin: 0 auto;
    }

    .reviews__inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .reviews__text {
        max-width: 200px;
        margin: 0 auto;
    }

    .reviews__item {
        margin: 0 auto;
        margin-top: 20px;
        width: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .port__inner {
        flex-direction: column;
    }

    .port__card img {
        width: 300px;
    }

    .accordion {
        width: 300px;
        margin: 0 auto;
    }

    .help__item {
        text-align: center;
        margin-top: 30px;
    }

    .together__wrapper {
        text-align: center;
        margin-top: 50px;
    }

    .together__photo {
        justify-content: center;
    }

    .photo__wrapper {
        margin: 0 auto;
    }
}

@media screen and (max-width: 768px) { 
    .about__item {
        width: 200px;
        margin: 0 auto;
    }

    .accordion {
        width: 300px;
        margin: 0 auto;
    }

    .help__item {
        text-align: center;
        margin-top: 30px;
    }
    .together {
        flex-direction: column;
    }

    .together__photo {
        width: 200px;
    }

}

@media screen and (max-width: 576px) {
    .about__item {
        width: 150px;
        margin: 0 auto;
    }
    .about__info {
        font-size: 15px;
        width: 80px;
    }

    .about__number {
        font-size: 25px;
        line-height: 30px;
        width: 80px;
    }

    .about__title {
        font-size: 24px;
    }

    .accordion {
        width: 300px;
        margin: 0 auto;
    }

    .help__item {
        text-align: center;
        margin-top: 30px;
    }

    .together__title {
        font-size: 20px;
    }
    .my-btn {
        width: 220px;
    }
 }

