:root {
    --color1: #4640BE;
    --color2: #fff;
    --color3: #FFC656;
    --color4: #DBD9FF;
}

body {
    font-family: 'Poppins', sans-serif;
}

*,
*:before,
*:after
{
	box-sizing: border-box;
    margin: 0;
    padding: 0;
}


div, p, input, button, form, span, a, ul, li {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.intro__header {
    padding: 20px 0;
}

.intro {
    height: 100vh;
    background: url(../img/intro/bg.jpg) no-repeat center center fixed;
    background-size: cover;
}

.intro__overlay {
    background: rgba(13, 0, 255, 0.6);
    width: 100%;
    height: 100%;
}

.nav-link{
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    transition: all ease .2s;
}

.nav-link:hover {
    color: rgb(111, 181, 247);
}

.btn {
    transition: all ease .6s;
}

.navbar-nav {
    margin-left: 400px;
}

.photo {
    width: 70px;
    height: 70px;
}

.my-btn-main {
    width: 150px;
    display: inline-block;
}

.my-btn {
    width: 150px;
    display: inline-block;
}

.my-row {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 660px;
}

.head__title {
    font-weight: 600;
    font-size: 48px;
    color: var(--color2);
}

.head__title span {
    color: var(--color3);
}

.section--gray {
    background-color: var(--color4);
}

.items {
    display: flex;
    justify-content: space-between;
}

.item {
    width: 350px;
    height: 400px;
    background-color: #fff;
    padding: 40px;
    margin: 80px 0;
    border-radius: 40px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
}

.ellipse {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: var(--color1);
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.benefits__title {
    font-weight: 600;
    font-size: 16px;
    margin: 0 auto;
    margin-top: 30px;
}

.benefits__subtitle {
    font-weight: 400;
    font-size: 14px;
    color: #666;
    text-align: center;
    margin: 15px auto;
}

.benefits__link {
    color: var(--color1);
    margin: 0 auto;
}

.about__inner {
    display: grid;
    grid-template-columns: 50% 50%;
}

.about_text_first {
    margin: 0 auto;
    max-width: 380px;
}   


.about__subtitle {
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: var(--color1);
}

.about__title {
    font-weight: 600;
    font-size: 32px;
    line-height: 42px;
}

.about__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.about__number {
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
}

.about__info {
    color: var(--color1);
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}

.about__mt {
    margin-top: 30px;
}

.reviews {
    background-color: var(--color1);
    padding: 80px 0;
}

.reviews__header {
    text-align: center;
}

.reviews__subtitle {
    color: var(--color3);
}

.reviews__title {
    color: var(--color2);
}

.reviews__inner {
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
}

.reviews__item {
    background-color: var(--color2);
    width: 400px;
    height: 250px;
    border-radius: 40px;
    padding: 40px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
}

.reviews__photo {
    display: flex;
    margin-top: 24px;
    margin-right: 12px;
}

.reviews__author {
    margin-top: 35px;
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    color: var(--color1);
}

.reviews__job {
    font-weight: 300;
    font-size: 10px;
    line-height: 10px;
}

.wrapper {
    display: flex;
    justify-content: center;
}



@media screen and (max-width: 992px) { 
    .my-btn {
        margin-top: 10px;
        width: 300px;
        display: inline-block;
    }

    .items {
        justify-content: center;
        flex-direction: column;
    }

    .item {
        margin: 10px auto;
        flex-direction: column;
    }

    .about_text_first {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .about__subtitle {
        font-size: 12px;
    }

    .about__title {
        font-size: 26px;
    }

    .about__text {
        font-size: 12px;
    }

    .about__number {
        font-size: 35px;
        line-height: 30px;
    }

    .about__info {
        font-size: 15px;
    }

    .about__mt {
        margin-top: 10px;
    }
}


